@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
    --primary: #FF4500;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: var(--primary);
    min-height: 1000px;
    box-sizing: border-box;
}


/* logo */


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #007acc86;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}


/* hero section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3), rgba(239, 239, 239, 0.432)), url('bgr3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 0;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(6deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


/* search start */

.container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: auto;
}

.main-content {
    margin-top: -130px;
}

.main-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Search end */

.respon {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
}

.tab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background-color: #007accd8;
    color: white;
    border: 1px solid #007accd8;
}

.search-input {
    display: flex;
    gap: 5px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.search-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-weight: 400;
}

.search-btn {
    padding: 10px 20px;
    background-color: #007accd8;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: 600;
}

.download-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.app-btn,
.appstore-btn,
.playstore-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.appstore-btn {
    width: 200px;
    height: 9vh;
}

.playstore-btn {
    width: 200px;
    height: 9vh;
}

@media (min-width: 600px) {
    .download-buttons {
        flex-direction: row;
        justify-content: center;
    }
}


/* search end */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    animation: bounce 2s infinite;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


/* about section */

.about,
.profil,
.menu {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.profil h2,
.menu h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: #8B2D2F;
}

.about span,
.profil h2 span,
.menu h2 span {
    color: #8B2D2F;
}

.about {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.about h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #333;
}

.about h1 span {
    color: #007BFF;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about .row .about-img {
    flex: 1 1 300px;
    text-align: center;
}

.about .row .about-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about .row .content {
    flex: 1 1 300px;
    padding: 1rem;
    text-align: left;
}

.about .row .content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
}


/* profil section */

.profil h2 {
    margin-bottom: 1rem;
}

.profil p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 400;
    line-height: 1.6;
}


/* menu section */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    object-fit: cover;
}

.carousel-container {
    width: 100%;
    max-width: 1000px;
    height: 40vh;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.carousel-row {
    display: flex;
    animation: slide 15s linear infinite;
    background-repeat: no-repeat;
    object-fit: cover;
}

.carousel-row {
    object-fit: cover;
}


/* Gambar slide */

.carousel-slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: transform 1s ease;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}


/* menu end */

.spacer {
    margin-top: 0;
    height: 25vh;
}


/* contact section */

.roww {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    flex: wrap;
}

.roww .map {
    flex: 1 1 45%;
    width: 100%;
    object-fit: cover;
}


/* contact end */


/* kontak html start */

.contact-info,
.get-in-touch {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.contact-info h3,
.get-in-touch h2,
.get-in-touch h3 {
    margin-top: 0;
    color: #555;
}

.contact-info .icon,
.get-in-touch .icon {
    font-size: 24px;
    color: #ffbb33;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.get-in-touch {
    background-color: #444;
    color: #fff;
    padding: 40px 20px;
}

.get-in-touch h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.get-in-touch hr {
    border: 1px solid #666;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.forum {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.contact-form {
    margin-left: 50px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

.contact-form h2 {
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    color: #555;
    font-size: 1em;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #45a049;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    color: #007BFF;
}

.contact span {
    color: black;
}

.contact-info {
    background-color: #fff;
    padding: 40px 0;
    margin-top: 20px;
    color: black;
}

.contact-info .container {
    width: 60%;
    margin: 0 auto;
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-info ul {
    list-style-type: none;
    line-height: 1.8;
}

.contact-info li {
    font-size: 1.1em;
}

.contact-info strong {
    font-weight: bold;
}

.social-icons a {
    color: white;
}


/* kontak html end */

.house-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.house-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.house-card:hover {
    transform: scale(1.05);
}

.house-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.house-info {
    padding: 15px;
}

.house-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.house-info p {
    margin: 5px 0;
    color: #555;
}

@media (max-width: 1024px) {
    .house-card {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .house-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .house-card {
        width: 100%;
    }
}

.slideshow-container {
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .slideshow-container {
        max-width: 90%;
    }
}

.slide {
    display: none;
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.dots-container {
    text-align: center;
    margin: 0;
    padding: 0;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0;
    background-color: #007accd8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}


/* style fasilitas */

.services {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
    color: black;
}

.services h1 p {
    margin-bottom: 30px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.service-item h3 {
    margin: 10px 0;
}

.circle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 120px;
    margin-top: 60px;
    background-color: #FF4500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cctv {
    margin-left: 150px;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .circle {
        width: 90px;
        height: 90px;
        font-size: 20px;
        margin-top: 40px;
    }
    .cctv {
        margin-left: 28px;
    }
    .services {
        font-size: 10px;
    }
}


/* profilstyle start */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    color: black;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    padding-top: 60px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.property-profile {
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.property-image {
    flex: 1;
    margin-right: 20px;
}

.property-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.property-info {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-info h2::before {
    font-size: 2em;
    margin-bottom: 15px;
}

.property-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.property-details {
    text-align: left;
    margin-bottom: 20px;
}

.property-details .detail {
    text-align: left;
    margin-bottom: 10px;
}

.property-details .detail strong {
    text-align: left;
    font-weight: bold;
}

.property-details .detail span {
    text-align: left;
    font-size: 1.1em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007accd8;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e67e22;
}

@media screen and (max-width: 768px) {
    .property-profile {
        flex-direction: column;
    }
    .property-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/* Styling Brosur */

.brosur {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.brosur img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .brosur {
        display: none;
    }
}


/* profilstyle end */


/* Media Queries */


/* Laptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}


/* tablet */

@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
    .about .row {
        flex-wrap: wrap;
    }
    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content {
        padding: 0;
    }
    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .about .row .content p {
        font-size: 1.6rem;
    }
    .menu p {
        font-size: 1.2rem;
    }
    .appstore-btn {
        width: 115px;
        height: 8vh;
    }
    
    .playstore-btn {
        width: 115px;
        height: 8vh;
    }
}


/* Mobile */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
    .about .row {
        flex-wrap: wrap;
    }
    .about .row .about-img img {
        height: 14rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content {
        padding: 0;
    }
    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .about .row .content p {
        font-size: 1.6rem;
    }
    .menu p {
        font-size: 1.2rem;
    }
    .service-item {
        width: 100%;
    }
    h1 {
        font-size: 24px;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
    }
    .service-item {
        margin-bottom: 15px;
    }
    .download-buttons{
        gap: 3;
    }
    .appstore-btn {
        width: 100px;
        height: 5vh;
    }
    
    .playstore-btn {
        width: 100px;
        height: 5vh;
    }
}